<section class="hero is-dark is-medium" id="top">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-spaced is-size-2">Observables</h2>
      <h3 class="subtitle is-spaced is-size-4">
        Featuring all of the built in Angular features
        </h3> 
    </div>
  </div>
</section>

<section class="hero is-dark is-medium" id="next">
    <div class="hero-body">
      <div class="container">
        <h2 class="title is-spaced is-size-2">Observables</h2>
        <h3 class="subtitle is-spaced is-size-4">
          Featuring all of the built in Angular features
          </h3> 
      </div>
    </div>
  </section>