<section class="hero is-danger is-small">
  <div class="hero-body">
  <div class="container">
  <h1 class="title is-spaced">
  Template driven form  
  </h1>
  <h2 class="subtitle is-spaced">
  Form state, validation, ngModelGroup directive & two way data binding<br> 
  </h2>
  <h2 class="subtitle is-spaced">
  </h2>
  
  </div>
  </div>
  </section>
  
  <div class="section">
  <div class="container">
    <!-- ngSubmit is how to get access to JS object of the form -->
    <!-- ngModelGroup needs to be assigned to a string -->
  <form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="field">
  <label for="username" class="label">Name</label>
  <div class="control">
  <input 
  class="input" type="text" id="username" placeholder="Text input" 
  ngModel name="username" required
  >
  </div>
  </div>
  
  
  <div class="field">
  <label for="email" class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
  <input id="email" class="input" type="email" placeholder="Email input" 
  ngModel name="email" required email #email="ngModel">
  <span class="icon is-small is-left">
  <i class="fas fa-envelope"></i>
  </span>
  <span class="icon is-small is-right">
  <!-- <i class="fas fa-exclamation-triangle"></i> -->
  </span>
  <span *ngIf="!email.valid && email.touched">Please enter a valid email address</span>

  </div>
  </div>

  
  <div class="field">
    <label for="secret question" class="label">Secret Question</label>
    <div class="control">
      <div class="select">
        <select id="secret" ngModel name="secret" [ngModel]="defaultSecretAnswer">
          <option value="pet">Your first pet?</option>
          <option value="teacher">Your first teacher?</option>
          <option value="teacher">Your first school?</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <textarea class="textarea" name="questionAnswer" [(ngModel)]="answer"></textarea>
    <!-- Two way data binding in case we need to  -->
    <p>Users input: <strong>{{answer}}</strong><br> 
      (two way data binding should we need to immediatly react to user input)</p>

  </div>

  <div class="control" id="radios">
    <label class="radio" *ngFor="let gender of genders">
      <input type="radio" name="gender" ngModel [value]="gender">{{gender}}</label>
  </div>
  
  <div class="field is-grouped">
  <div class="control">
  <button type="submit" class="button is-danger" [disabled]="!f.valid">Submit</button>
  </div>
  </div>
  </form>
  </div>
  </div>