<div class="column">
<div class="card">
  <div class="card-content">
    <p class="title is-size-5">{{game.title}}</p>
    <hr>
    <p class="title scoreNum is-size-5">Score: {{game.score}}</p>
  </div>
  <footer class="card-footer">
    <a href (click)="voteUp()" class="card-footer-item">
      <p>upVote</p>
      <i class="fas fa-arrow-up"></i>
    </a>
    <a href (click)="voteDown()" class="card-footer-item">
      <p>downVote</p>
      <i class="fas fa-arrow-down"></i>
    </a>
  </footer>
</div>
</div>

