<section class="hero is-light is-medium">
    <div class="hero-body">
    <div class="container">
    
    <h1 class="title is-spaced">
    <strong class="has-text-danger">Template driven </strong>
    and 
    <strong class="has-text-primary"> Reactive </strong>Forms  
    </h1>
    <h2 class="subtitle is-spaced">
    start of video 196
    </h2>
    <h2 class="subtitle is-spaced">
    </h2>
    
    </div>
    </div>
    </section>

<app-template></app-template>
<app-reactive></app-reactive>






