<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1 is-spaced">
        Angular Playground 
      </h1>
      <h2 class="subtitle is-spaced">
        Welcome to my Typescript, Angular 7 and RxJS portfolio site 
      </h2>
    </div>
  </div>
</section>
<footer role="footer" class="footer">
  <div class="content has-text-centered">
      <p>
          <strong>created by Adam Duggan</strong>
          <br>
      </p>
      <a target="_blank" href="https://github.com/AdamJDuggan" class="button is-large footerIcon">
          <span class="icon is-medium">
              <i class="fab fa-github"></i>
          </span>
      </a>
      <a href="mailto:adamduggan17@gmail.com" class="button is-large footerIcon">
          <span class="icon is-medium">
              <i class="item fa fa-envelope"></i>
          </span>
      </a>
  </div>
</footer>

